{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<p>
	Your API key is a token the AcoustID web service uses to identify yourself when you submit
	fingerprints. The following key can be used in any AcoustID-enabled application:
</p>

<p class="center">
	<code style="padding: 0.4em; border: solid 1px #b2b2b2; font-size: 140%;">{{ apikey }}</code>
</p>

<p class="center">
	<a href="{{ base_url }}new-api-key">Generate a new API key</a>
</p>

{% endblock %}

